.TaskWrapper {
  @apply py-2 
  border-b border-[#d4d4d4]
  last:border-b-0
  flex justify-between items-center
  overflow-hidden;
}

.TaskItem {
  @apply flex items-center;
}

.TaskName {
  @apply text-[#3a5874]
  text-base
  flex items-center
  ml-2 lg:mr-20;
}

.TaskDone {
  @apply line-through;
}

.TaskDue {
  @apply whitespace-nowrap
  visible
  pl-2 mb-0
  text-xs
  text-[#4d8581];
}

.TaskActions {
  @apply flex items-center;
}

.DeleteButton,
.EditButton,
.ImportantTaskEmpty {
  @apply p-[3px]
  text-[#616161]
  hover:bg-[#e2e2e2]
  rounded-full
  cursor-pointer;
}

.ImportantTaskEmpty {
  @apply mr-px;
}

.DeleteButton {
  @apply text-[#b8100a]
  ml-px;
}

.Buttons {
  @apply flex flex-nowrap
  ml-[7px]
  mr-[-75px];
  transition: 0.3s;
}

.TaskWrapper:hover .Buttons {
  @apply mr-0;
}

.Checkbox {
  @apply cursor-pointer text-[#616161];
}

.CheckboxEmphasis,
.ImportantTask,
.OverdueTask {
  @apply text-[#d0342c];
}
