.TaskWrapper {
  @apply py-2 
  border-b border-[#484848]
  last:border-b-0
  flex justify-between items-center
  overflow-hidden;
}

.TaskItem {
  @apply flex items-center;
}

.TaskName {
  @apply text-[#d5d1c7]
  text-xs md:text-base
  flex items-center
  ml-2 lg:mr-20;
}

.TaskDone {
  @apply line-through;
}

.TaskDue {
  @apply whitespace-nowrap
  visible
  pl-2 mb-0
  text-xs
  text-[#aaaaaa];
}

.TaskActions {
  @apply flex items-center;
}

.DeleteButton,
.EditButton,
.ImportantTaskEmpty {
  @apply p-[3px]
  text-[#e7e8ed]
  hover:bg-[#616161]
  rounded-full
  cursor-pointer;
}

.ImportantTaskEmpty {
  @apply mr-px;
}

.DeleteButton {
  @apply text-[#b8100a]
  ml-px;
}

.Buttons {
  @apply flex flex-nowrap
  ml-[7px]
  mr-[-75px]
  duration-300;
}

.ImportantActive {
  @apply mr-[-50px];
}

.TaskWrapper:hover .Buttons {
  @apply mr-0;
}

.Checkbox {
  @apply cursor-pointer
  text-[#e7e8ed]
  hover:text-[#d5d1c7]
  w-[15px] md:w-[23px];
}

.CheckboxEmphasis,
.ImportantTask,
.OverdueTask {
  @apply text-[#f02828];
}
