.TaskWrapper {
  @apply py-2 
  border-b border-[#d4d4d4]
  last:border-b-0
  flex justify-between items-center;
}

.TaskItem {
  @apply flex items-center;
}

.TaskName {
  @apply text-[#3a5874]
  text-base
  flex items-center
  ml-2 lg:mr-20;
}

.TaskDone {
  @apply line-through;
}

.TaskDue {
  display: block;
  @apply whitespace-nowrap
  pl-2 pt-[3px] mb-0
  text-xs
  text-[#4d8581];
}

.Buttons {
  @apply flex flex-nowrap;
  display: none;
}

.OverdueTask {
  @apply text-[#d0342c];
}

.DeleteButton {
  @apply text-[#b8100a]
  cursor-pointer
  ml-2;
}

.TaskWrapper:hover .TaskDue {
  display: none;
}

.TaskWrapper:hover .Buttons {
  display: block;
}
