.InputArea {
  @apply w-full
  flex items-center
  bg-[#edecf2]
  flex justify-center
  shadow-lg;
}

.TaskInput {
  @apply text-sm
  flex
  px-1
  md:w-3/4
  w-2/4
  lg:text-base
  text-[#212121]  
  bg-transparent
  placeholder:text-[#aaaaaa]
  border-b border-[#d4d4d4]
  focus:outline-none;
}

.AddButton {
  @apply text-[#383838]
  hover:text-[#565656]
  ml-[-5px]
  cursor-pointer;
}
