.InputArea {
  @apply w-full
  pt-10
  flex justify-center;
}

.TaskInput {
  @apply px-2 m-auto
        md:w-96
        text-sm
        lg:text-base
        text-[#212121]
        bg-transparent
        placeholder:text-[#aaaaaa]
        border-b border-[#4d8581]
        focus:outline-none;
}
