.EditArea {
  @apply flex flex-col
  mx-auto
  p-2;
}

.Input {
  @apply lg:p-1
  lg:m-auto
  px-3
  md:w-80
  bg-transparent
  border-b 
  border-[#d4d4d4]
  text-[#3a5874]
  focus:outline-none;
}

.Buttons {
  @apply flex justify-center;
}

.EditTask {
  @apply flex items-center;
}

.Datepicker {
  @apply mr-1;
}
