.SearchWrapper {
  @apply flex items-center;
}

.SearchIcon {
  @apply mr-[-20px];
}

.SearchInput {
  @apply text-sm
  flex
  pl-5 mx-1
  lg:my-5
  lg:text-base
  text-[#212121]  
  bg-transparent
  placeholder:text-[#aaaaaa]
  border-b border-[#d4d4d4]
  focus:outline-none;
}
