.CalendarWrapper {
  @apply flex justify-end
  max-w-xs
  mx-auto
  w-28
  lg:w-48
  md:w-28
  text-sm
  text-[#c4aea3];
}

.CalendarIcon {
  @apply my-1
  cursor-pointer
  text-[#4c3c30];
}

.Calendar {
  @apply text-center 
  my-1
  w-20
  cursor-pointer
  float-right
  bg-transparent
  focus:outline-none;
}
