.CalendarWrapper {
  @apply flex flex-col 
  max-w-xs
  py-1
  text-xs
  text-[#bf9000]
  hover:text-[#f1c232];
}

.CalendarIcon {
  @apply ml-3 mt-8
  cursor-pointer
  text-[#aaaaaa]
  hover:text-[#e7e7e7];
}

.DateSelected {
  @apply text-[#ededed];
}

.Calendar {
  @apply text-center 
  w-[45px]
  my-1
  cursor-pointer
  float-right
  bg-transparent
  focus:outline-none;
}

.ClearDate {
  @apply cursor-pointer
  text-center
  py-2
  text-[#b8100a];
}
