.TaskMenu {
  @apply flex
  lg:flex-col 
  lg:py-10
  min-h-fit
  lg:fixed
  text-[#4d8581];
}

.TaskList {
  @apply flex gap-1 flex-wrap items-center 
  lg:my-3
  rounded
  cursor-pointer
  lg:text-base
  py-1 px-2
  text-xs
  border-l 
  hover:text-[#e29578]
  hover:bg-[#e7e8ed]
  hover:border-[#4d8581];
}

.Active {
  @apply text-[#e29578]
  border-l border-[#4d8581]
  bg-[#e7e8ed]
  lg:pr-20;
}

.Icon {
  @apply cursor-pointer
  m-1 
  text-[#212121];
}

.TaskLength {
  @apply p-px;
}

.Overdue {
  @apply text-[#d0342c];
}
