.App {
  @apply w-full h-screen
  py-10;
}

.TaskBoard {
  @apply flex md:justify-center lg:flex-row flex-col 
	p-5 
  rounded
  h-5/6
  gap-5;
}

.TaskMenu {
  @apply bg-[#e8e4e1]
  rounded
  shadow
  p-10 
  text-[#4c3c30] text-center
  lg:h-full
  lg:w-1/5;
}

.TaskListArea {
  @apply bg-[#e1e1d6]
  flex flex-col
  rounded
  shadow
  p-10
  h-full
  lg:w-3/5;
}
