.App {
  @apply m-auto;
}

.TaskBoard {
  @apply flex md:flex-row flex-col;
}

.TaskMenu {
  @apply bg-[#edecf2]
  py-5 lg:px-7
  text-center
  shadow-sm
  md:min-h-screen
  md:w-1/6
  duration-300;
}

.ToggleTaskBoard {
  @apply md:ml-[-250px];
}

.TaskListArea {
  @apply bg-[#e7e8ed]
  flex flex-col 
  md:m-auto
  p-2
  min-h-screen
  md:w-4/6;
}
