.App {
  @apply w-full 
  h-screen 
  max-w-7xl
  m-auto
  py-10;
}

.TaskBoard {
  @apply flex lg:justify-center lg:flex-row flex-col 
	p-5 
  rounded
  gap-5;
}

.TaskMenu {
  @apply bg-[#e8e4e1]
  rounded
  shadow
  p-10 
  text-[#4c3c30] text-center
  lg:min-h-screen
  lg:w-1/5;
}

.TaskListArea {
  @apply bg-[#e1e1d6]
  flex flex-col
  rounded
  shadow
  lg:p-10 p-5
  min-h-screen
  lg:w-3/5;
}
