.App {
  @apply max-w-7xl;
}

.TaskBoard {
  @apply flex lg:flex-row flex-col;
}

.TaskMenu {
  @apply bg-[#edecf2]
  py-5 lg:px-5
  text-center
  shadow
  lg:min-h-screen
  lg:w-1/5;
}

.TaskListArea {
  @apply bg-[#e7e8ed]
  flex flex-col 
  lg:m-auto
  mx-5
  lg:p-10 p-5
  min-h-screen
  lg:w-3/5;
}
